/*media query*/
.outer{
    width: 100vw;
    height: 250px;
    border: 1px solid red;
}
.inner{
    /*.............*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    /*...............*/

}